In [2]:
import sqlite3

In [2]:
connection = sqlite3.connect('catalog.db')

In [3]:
# Creating a table "Book"

# CREATE TABLE Books 
# ( ID INT PRIMARY KEY, title VARCHAR(200) NOT NULL, 
# ISBN VARCHAR(20) UNIQUE, Department VARCHAR(50) );

create_query = "CREATE TABLE Books ( ID INTEGER PRIMARY KEY AUTOINCREMENT,  Title VARCHAR(255) NOT NULL, ISBN VARCHAR(20), Department VARCHAR(50) );"

In [4]:
with sqlite3.connect('catalog.db') as connection:
    connection.execute(create_query)

In [ ]:
#Insert values into "Books" table

Title = input("Enter the title of the book")
ISBN = input("Enter the ISBN of the book")
Department = input("Enter the department/subject of the book")
insert_query = f"INSERT INTO Books (Title, ISBN, Department) VALUES ('{Title}', '{ISBN}', '{Department}');"
with sqlite3.connect('catalog.db') as connection:
    connection.execute(insert_query)

In [ ]:
# Display all books

select_query = "Select * from Books"
with sqlite3.connect('catalog.db') as connection:
    cursor = connection.execute(select_query)
    for book_record in cursor:
        print(f"ID = {book_record[0]}, Title = {book_record[1]}, ISBN = {book_record[2]}, Department = {book_record[3]}")

In [38]:
# Display all books by Department

Department = input('Enter the Department or Subject')
select_query = f"select * from Books where Department = '{Department}'"
print(select_query)
with sqlite3.connect('catalog.db') as connection:
    cursor = connection.execute(select_query)
    for book_record in cursor:
        print(f"ID = {book_record[0]}, Title = {book_record[1]}, ISBN = {book_record[2]}, Department = {book_record[3]}")

select * from Books where Department = 'Machine Learning'
ID = 18, Title = Pattern Recognition and Machine Learning, ISBN = 97-80184862264, Department = Machine Learning

In [3]:
# Display all books by Department

Department = input('Enter the Department or Subject')
select_query = f"select * from Books where Department = '{Department}'"
print(select_query)
with sqlite3.connect('catalog.db') as connection:
    cursor = connection.execute(select_query)
    for book_record in cursor:
        print(f"ID = {book_record[0]}, Title = {book_record[1]}, ISBN = {book_record[2]}, Department = {book_record[3]}")

select * from Books where Department = 'Artificial Intelligence'
ID = 3, Title = Deep Learning with Python, ISBN = 97-81617294433, Department = Artificial Intelligence
ID = 4, Title = Machine Learning Yearning, ISBN = 97-80999736411, Department = Artificial Intelligence
ID = 19, Title = Practical Natural Language Processing, ISBN = 97-81641762098, Department = Artificial Intelligence

In [ ]:
# Display all books by Department

Department = input('Enter the Department or Subject')
select_query = f"select * from Books where Department = '{Department}'"
print(select_query)
with sqlite3.connect('catalog.db') as connection:
    cursor = connection.execute(select_query)
    for book_record in cursor:
        print(f"ID = {book_record[0]}, Title = {book_record[1]}, ISBN = {book_record[2]}, Department = {book_record[3]}")

In [7]:
# Display first 7 records

select_query = "Select * from Books limit 7"
with sqlite3.connect('catalog.db') as connection:
    cursor = connection.execute(select_query)
print(select_query)  

for book_record in cursor:
        print(f"ID = {book_record[0]}, Title = {book_record[1]}, ISBN = {book_record[2]}, Department = {book_record[3]}")

Select * from Books limit 7
ID = 1, Title = Introduction to Algorithms, ISBN = 97-80262033848, Department = Computer Science
ID = 2, Title = Database System Concepts, ISBN = 97-80078022159, Department = Computer Science
ID = 3, Title = Deep Learning with Python, ISBN = 97-81617294433, Department = Artificial Intelligence
ID = 4, Title = Machine Learning Yearning, ISBN = 97-80999736411, Department = Artificial Intelligence
ID = 5, Title = A Handbook of Agile Software , ISBN = 97-80132350884, Department = Software Engineering
ID = 6, Title = Data Science from Scratch, ISBN = 97-81492041139, Department = Data Science
ID = 7, Title = Linear Algebra Done Right, ISBN = 97-83319110790, Department = Mathematics