In [2]:
import pandas as pd

In [ ]:
# Series 1-D data
series = pd.Series([1,2,3,4,5])

In [4]:
type(series)

pandas.core.series.Series

In [9]:
# Dataframe 2-D data
frame = pd.DataFrame([{
    'Name' : 'Tea',
    'Price' : 20
}, {
    'Name' : 'Coffee',
    'Price' : 25

}])

In [10]:
type(frame)

pandas.core.frame.DataFrame

In [ ]:
frame.to_csv('items.csv', header=True, index=False)

In [38]:
catalog_df = pd.read_csv('catalog.csv')

In [39]:
catalog_df

,ItemID,ItemName,RestaurantName,Price,Description
0,I001,Kung Pao Chicken,Golden Dragon,12.99,Spicy stir fried chicken with peanuts and chili
1,I002,Beef Tacos,El Toro Loco,9.49,Soft tortillas filled with seasoned beef and s...
2,I003,Pad Thai,Spice Route,11.99,Classic rice noodle dish with tofu and peanuts
3,I004,Greek Salad,The Greek Table,8.99,Fresh salad with feta olives and olive oil
4,I005,Margherita Pizza,Bella Vita,13.49,Wood fired pizza with tomato sauce and mozzarella
5,I006,Sweet and Sour Pork,Dragon Wok,10.99,Crispy pork in tangy sweet and sour sauce
6,I007,Chicken Shawarma,La Casa De Tapas,12.49,Grilled chicken wrapped with garlic sauce
7,I008,Chicken Quesadilla,Chili Lime,9.99,Grilled tortilla stuffed with cheese and chicken
8,I009,Spaghetti Carbonara,Pasta Palace,12.99,Classic pasta with eggs cheese and bacon
9,I010,Green Curry,Phuket Spice,11.49,Thai curry with coconut milk and vegetables
10,I011,Spring Rolls,Shanghai Express,6.99,Crispy rolls filled with vegetables
11,I012,Enchiladas,La Fiesta,10.99,Tortillas rolled with chicken and mild chili s...
12,I013,Hummus Plate,Olive Grove,7.99,Mashed chickpeas served with pita bread
13,I014,Lasagna,Trattoria Roma,13.99,Layered pasta with meat sauce and cheese
14,I015,Basil Fried Rice,Lotus Leaf,10.49,Thai style fried rice with basil and egg

In [40]:
catalog_df['ItemID'] == 'I011'

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
Name: ItemID, dtype: bool

In [41]:
catalog_df.Price

0     12.99
1      9.49
2     11.99
3      8.99
4     13.49
5     10.99
6     12.49
7      9.99
8     12.99
9     11.49
10     6.99
11    10.99
12     7.99
13    13.99
14    10.49
Name: Price, dtype: float64

In [33]:
catalog_df.iloc[0]

ItemID                                                       I001
ItemName                                         Kung Pao Chicken
RestaurantName                                      Golden Dragon
Price                                                       12.99
Description       Spicy stir fried chicken with peanuts and chili
Name: 0, dtype: object

In [46]:
catalog_df = pd.read_csv('catalog.csv', index_col = 'ItemID')

In [49]:
catalog_df.loc['I011']

ItemName                                 Spring Rolls
RestaurantName                       Shanghai Express
Price                                            6.99
Description       Crispy rolls filled with vegetables
Name: I011, dtype: object

In [50]:
catalog_df.loc['I011']['Price']

np.float64(6.99)

In [51]:
# how to search for records where price > $12

catalog_df.loc[catalog_df['Price']>12]

,ItemName,RestaurantName,Price,Description
ItemID,,,,
I001,Kung Pao Chicken,Golden Dragon,12.99,Spicy stir fried chicken with peanuts and chili
I005,Margherita Pizza,Bella Vita,13.49,Wood fired pizza with tomato sauce and mozzarella
I007,Chicken Shawarma,La Casa De Tapas,12.49,Grilled chicken wrapped with garlic sauce
I009,Spaghetti Carbonara,Pasta Palace,12.99,Classic pasta with eggs cheese and bacon
I014,Lasagna,Trattoria Roma,13.99,Layered pasta with meat sauce and cheese

In [52]:
#Increase prices by 15%
catalog_df['Price'] = catalog_df['Price'] * 1.15

In [53]:
catalog_df

,ItemName,RestaurantName,Price,Description
ItemID,,,,
I001,Kung Pao Chicken,Golden Dragon,14.9385,Spicy stir fried chicken with peanuts and chili
I002,Beef Tacos,El Toro Loco,10.9135,Soft tortillas filled with seasoned beef and s...
I003,Pad Thai,Spice Route,13.7885,Classic rice noodle dish with tofu and peanuts
I004,Greek Salad,The Greek Table,10.3385,Fresh salad with feta olives and olive oil
I005,Margherita Pizza,Bella Vita,15.5135,Wood fired pizza with tomato sauce and mozzarella
I006,Sweet and Sour Pork,Dragon Wok,12.6385,Crispy pork in tangy sweet and sour sauce
I007,Chicken Shawarma,La Casa De Tapas,14.3635,Grilled chicken wrapped with garlic sauce
I008,Chicken Quesadilla,Chili Lime,11.4885,Grilled tortilla stuffed with cheese and chicken
I009,Spaghetti Carbonara,Pasta Palace,14.9385,Classic pasta with eggs cheese and bacon
I010,Green Curry,Phuket Spice,13.2135,Thai curry with coconut milk and vegetables
I011,Spring Rolls,Shanghai Express,8.0385,Crispy rolls filled with vegetables
I012,Enchiladas,La Fiesta,12.6385,Tortillas rolled with chicken and mild chili s...
I013,Hummus Plate,Olive Grove,9.1885,Mashed chickpeas served with pita bread
I014,Lasagna,Trattoria Roma,16.0885,Layered pasta with meat sauce and cheese
I015,Basil Fried Rice,Lotus Leaf,12.0635,Thai style fried rice with basil and egg

In [55]:
catalog_df.to_csv('new_catalog.csv')