In [1]:
""" SQLAlchemy ORM demo for managing Institutes and Courses offerered .

This script demonstrates how to:
1. Load environment variables using python-dotenv.
2. Create an SQLite database connection using SQLAlchemy.
3. Define ORM models (`Institute`, `Course`) using DeclarativeBase.
4. Perform CRUD operations: Create, Read, Update, Delete.

"""

' SQLAlchemy ORM demo for managing Institutes and Courses offerered .\n\nThis script demonstrates how to:\n1. Load environment variables using python-dotenv.\n2. Create an SQLite database connection using SQLAlchemy.\n3. Define ORM models (`Institute`, `Course`) using DeclarativeBase.\n4. Perform CRUD operations: Create, Read, Update, Delete.\n\n'

In [2]:
# Step 1: Load environment variables and configure database URL

from dotenv import load_dotenv
import os
load_dotenv()

True

In [3]:
INSTITUTE_URL = os.getenv('INSTITUTE_DB_URL', 'sqlite:///default.db')

In [4]:
print(INSTITUTE_URL)

sqlite:///institute.db

In [5]:
# Step 2: Create a SQLAlchemy Engine instance.

# The engine represents a connection to the database.
# `echo=True` logs all SQL statements to the console for debugging.

from sqlalchemy import create_engine
engine = create_engine(url = INSTITUTE_URL, echo = True)
#pool = 5

In [6]:
# Step 3: Define a Declarative Base class.

# This base class acts as the foundation for all ORM models.
# All ORM entity classes should inherit from this to ensure consistent metadata and mapping behavior.

from sqlalchemy.orm import DeclarativeBase

class Base(DeclarativeBase):
    """ Declarative Base class for all ORM models."""
    pass

In [7]:
# Step 4: Define ORM Models â€” User and Contact tables

from sqlalchemy.orm import Mapped, mapped_column
from sqlalchemy import String

In [8]:
class Institute(Base):
    """Represents an institute record in the Institutes table.

    Attributes:
        Institute_ID (int): Primary key and unique identifier for each institute.
        Institute_Name (str): The institute's name, must be unique.
    """

    # Table name in the database
    __tablename__ = "Institutes"

    Institute_ID: Mapped[int] = mapped_column(primary_key=True)
    Institute_Name: Mapped[str] = mapped_column(String(75), unique=True)

In [9]:
class Course(Base):
    """Represents a Course  record in the Courses table.

    Attributes:
        Course_ID (int): Primary key and unique identifier for each course.
        Course_Name (str): The course's name, must be unique.
    """

    # Table name in the database
    __tablename__ = "Courses"

    Course_ID: Mapped[int] = mapped_column(primary_key=True)
    Course_Name: Mapped[str] = mapped_column(String(75), unique=True)
    Description: Mapped[str] = mapped_column(String(256))

In [10]:
# Step 5: Create database tables.
# This will generate the physical tables (`Users` and `Contacts`) in the SQLite database if they do not already exist.

Base.metadata.create_all(engine)

2025-10-18 21:13:27,944 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-18 21:13:27,945 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Institutes")
2025-10-18 21:13:27,946 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-18 21:13:27,947 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Institutes")
2025-10-18 21:13:27,947 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-18 21:13:27,948 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Courses")
2025-10-18 21:13:27,949 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-18 21:13:27,950 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Courses")
2025-10-18 21:13:27,952 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-18 21:13:27,954 INFO sqlalchemy.engine.Engine
CREATE TABLE "Institutes" (
	"Institute_ID" INTEGER NOT NULL,
	"Institute_Name" VARCHAR(75) NOT NULL,
	PRIMARY KEY ("Institute_ID"),
	UNIQUE ("Institute_Name")
)


2025-10-18 21:13:27,955 INFO sqlalchemy.engine.Engine [no key 0.00069s] ()
2025-10-18 21:13:27,967 INFO sqlalchemy.engine.Engine
CREATE TABLE "Courses" (
	"Course_ID" INTEGER NOT NULL,
	"Course_Name" VARCHAR(75) NOT NULL,
	"Description" VARCHAR(256) NOT NULL,
	PRIMARY KEY ("Course_ID"),
	UNIQUE ("Course_Name")
)


2025-10-18 21:13:27,968 INFO sqlalchemy.engine.Engine [no key 0.00146s] ()
2025-10-18 21:13:27,976 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
# Step 6: Configure sessionmaker for ORM transactions.
# Session acts as the interface between the Python objects and the database for performing CRUD operations.

# sessionmaker() returns a class; calling it creates a Session instance
from sqlalchemy.orm import sessionmaker

# Create a sessionmaker bound to the engine and perform CRUD operations
Session = sessionmaker(bind=engine)

In [ ]:
# Insert sample institutes records into the Institutes table.

with Session() as session:
    institutes = [
        Institute(Institute_ID=1, Institute_Name='Stanford University'),
        Institute(Institute_ID=2, Institute_Name='Massachusetts Institute of Technology'),
        Institute(Institute_ID=3, Institute_Name='Harvard University'),
        Institute(Institute_ID=4, Institute_Name='California Institute of Technology'),
        Institute(Institute_ID=5, Institute_Name='University of California, Berkeley'),
        Institute(Institute_ID=6, Institute_Name='Princeton University'),
        Institute(Institute_ID=7, Institute_Name='Columbia University'),
        Institute(Institute_ID=8, Institute_Name='Yale University'),
        Institute(Institute_ID=9, Institute_Name='Cornell University'),
        Institute(Institute_ID=10, Institute_Name='University of Chicago')
    ]

    session.add_all(institutes)
    session.commit()

2025-10-18 21:13:37,842 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-18 21:13:37,844 INFO sqlalchemy.engine.Engine INSERT INTO "Institutes" ("Institute_ID", "Institute_Name") VALUES (?, ?)
2025-10-18 21:13:37,845 INFO sqlalchemy.engine.Engine [generated in 0.00127s] [(1, 'Stanford University'), (2, 'Massachusetts Institute of Technology'), (3, 'Harvard University'), (4, 'California Institute of Technology'), (5, 'University of California, Berkeley'), (6, 'Princeton University'), (7, 'Columbia University'), (8, 'Yale University'), (9, 'Cornell University'), (10, 'University of Chicago')]
2025-10-18 21:13:37,849 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
# Insert sample courses records into the Courses table.

with Session() as session:
    courses = [
        Course(Course_ID=1, Course_Name='Computer Science', Description='Core principles of computing, programming, and algorithms.'),
        Course(Course_ID=2, Course_Name='Data Science', Description='Data analysis, machine learning, and statistical modeling.'),
        Course(Course_ID=3, Course_Name='Artificial Intelligence', Description='AI fundamentals including neural networks and natural language processing.'),
        Course(Course_ID=4, Course_Name='Electrical Engineering', Description='Circuit theory, electronics, and signal processing.'),
        Course(Course_ID=5, Course_Name='Mechanical Engineering', Description='Dynamics, thermodynamics, and materials science.'),
        Course(Course_ID=6, Course_Name='Civil Engineering', Description='Structural design, construction management, and surveying.'),
        Course(Course_ID=7, Course_Name='Business Administration', Description='Management, marketing, and organizational behavior.'),
        Course(Course_ID=8, Course_Name='Economics', Description='Microeconomics, macroeconomics, and econometrics.'),
        Course(Course_ID=9, Course_Name='Mathematics', Description='Advanced calculus, algebra, and applied statistics.'),
        Course(Course_ID=10, Course_Name='Cybersecurity', Description='Network security, cryptography, and ethical hacking.')
    ]

    session.add_all(courses)
    session.commit()

2025-10-18 21:13:39,012 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-18 21:13:39,014 INFO sqlalchemy.engine.Engine INSERT INTO "Courses" ("Course_ID", "Course_Name", "Description") VALUES (?, ?, ?)
2025-10-18 21:13:39,015 INFO sqlalchemy.engine.Engine [generated in 0.00082s] [(1, 'Computer Science', 'Core principles of computing, programming, and algorithms.'), (2, 'Data Science', 'Data analysis, machine learning, and statistical modeling.'), (3, 'Artificial Intelligence', 'AI fundamentals including neural networks and natural language processing.'), (4, 'Electrical Engineering', 'Circuit theory, electronics, and signal processing.'), (5, 'Mechanical Engineering', 'Dynamics, thermodynamics, and materials science.'), (6, 'Civil Engineering', 'Structural design, construction management, and surveying.'), (7, 'Business Administration', 'Management, marketing, and organizational behavior.'), (8, 'Economics', 'Microeconomics, macroeconomics, and econometrics.'), (9, 'Mathematics', 'Advanced calculus, algebra, and applied statistics.'), (10, 'Cybersecurity', 'Network security, cryptography, and ethical hacking.')]
2025-10-18 21:13:39,018 INFO sqlalchemy.engine.Engine COMMIT

In [14]:
# Retrieve all institues records from the Institutes table
# Get all user records - .all() with query gives all records

with Session() as session:
    for inst in session.query(Institute).all():
        print(inst.Institute_ID, inst.Institute_Name)

2025-10-18 21:19:30,749 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-18 21:19:30,751 INFO sqlalchemy.engine.Engine SELECT "Institutes"."Institute_ID" AS "Institutes_Institute_ID", "Institutes"."Institute_Name" AS "Institutes_Institute_Name"
FROM "Institutes"
2025-10-18 21:19:30,752 INFO sqlalchemy.engine.Engine [generated in 0.00083s] ()
1 Stanford University
2 Massachusetts Institute of Technology
3 Harvard University
4 California Institute of Technology
5 University of California, Berkeley
6 Princeton University
7 Columbia University
8 Yale University
9 Cornell University
10 University of Chicago
2025-10-18 21:19:30,754 INFO sqlalchemy.engine.Engine ROLLBACK

In [15]:
# Retrieve all courses records from the Courses table
# Get all user records - .all() with query gives all records

with Session() as session:
    for crs in session.query(Course).all():
        print(crs.Course_ID, crs.Course_Name, crs.Description)

2025-10-18 21:19:31,951 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-18 21:19:31,954 INFO sqlalchemy.engine.Engine SELECT "Courses"."Course_ID" AS "Courses_Course_ID", "Courses"."Course_Name" AS "Courses_Course_Name", "Courses"."Description" AS "Courses_Description"
FROM "Courses"
2025-10-18 21:19:31,955 INFO sqlalchemy.engine.Engine [generated in 0.00130s] ()
1 Computer Science Core principles of computing, programming, and algorithms.
2 Data Science Data analysis, machine learning, and statistical modeling.
3 Artificial Intelligence AI fundamentals including neural networks and natural language processing.
4 Electrical Engineering Circuit theory, electronics, and signal processing.
5 Mechanical Engineering Dynamics, thermodynamics, and materials science.
6 Civil Engineering Structural design, construction management, and surveying.
7 Business Administration Management, marketing, and organizational behavior.
8 Economics Microeconomics, macroeconomics, and econometrics.
9 Mathematics Advanced calculus, algebra, and applied statistics.
10 Cybersecurity Network security, cryptography, and ethical hacking.
2025-10-18 21:19:31,957 INFO sqlalchemy.engine.Engine ROLLBACK